body {
    background-color: #efe0e6;
    margin:0;
    padding:0;
    font-family: 'Bookman Old Style', Bookman, serif;
}
html, body {
    height: 100%;
    cursor: none;
}

#custom-cursor {
    position: absolute;
    width: 33px;
    height: 33px;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    cursor: none;
}
#play-button {
    background-color: #f3e6f0;
    border: 2px solid #d0c0ce;
    padding: 6px 12px;
    font-family: serif, monospace;
    font-size: 14px;
    border-radius: 6px;
    cursor: none;
    transition: all 0.2 ease;
}
#play-button:hover {
    background-color: #e6d0e0;
    transform: scale(1.05);
}
.page {
    position: relative;
    height: 100vh;
    padding: 20px;
}
.lana-sticker{
    position: absolute;
    top: 40px;
    left: 80px;
    width: 100px;
    border-radius:50%;
}

.header-container {
    position: absolute;
    top: 50px;
    left: 200px;
}
.intro-container {
    position: absolute;
    top: 140px;
    left: 80px;
    max-width: 700px;
}
p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
}
