@font-face {
    font-family: 'Cyperpunk Waifus'; 
    src: url('cyperpunkwaifus.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}

html,
body {
    background-color: #f7eff1;
    height: 100%;
    cursor: none;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
#site-title {
    position: relative;
    font-family: 'Cyperpunk Waifus', monospace;
    font-size: 60px;
    color: #6f616a;
    top: -20px;
    left: -30px;
}
p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

#custom-cursor {
    position: absolute;
    width: 33px;
    height: 33px;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -55%);
    cursor: none;
    object-fit: contain;
}

.music-box {
    background-color: #f1f1f1;
    opacity: 85%;
    border: 1px solid #e1d6df;
    border-radius: 5px;
    padding: 10px 14px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.top-row-player {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#album-cover {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    border: 1px solid #acaeb4;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

}

.song-info-and-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    font-family: 'Inter', sans-serif;
}

#song-title {
    font-size: 14px;
    color: #565656;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress-container {
    width: 110px;
    height: 7px;
    background-color: #ddd0d7;
    border-radius: 2px;
    overflow: hidden;
    cursor: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar {
    background-color: #724c63;
    height: 100%;
    width: 0%;
    border-radius: 3px;
    transition: width 0.1s linear;
}

.music-controls {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.music-controls button {
    background-color: #e4dee3;
    border: 1px solid #acaeb4;
    border-radius: 2px;
    padding: 6px 12px;
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

.music-controls img {
    width: 30px;
    height: 20px;
    cursor: none;
    transition: none;
    transform: none;
    display: block;
}

.music-controls button:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.page-content {
    position: relative;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.lana-sticker {
    position: absolute;
    top: 40px;
    left: 80px;
    width: 100px;
    border-radius: 0%;
}

.site-header {
    position: relative;
    top: 50px;
    left: 200px;
}

.intro-section {
    position: absolute;
    top: 140px;
    left: 80px;
    max-width: 700px;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 700px;
    width: 100%;
}

.about-me section {
    background-color: #fbf6f8;
    border-radius: 0px;
    border: 1px solid #eadde2;
    padding: 24px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.04);
    transition: transform 0.2s ease;
}

.main-layout {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 40px 40px;
    gap: 10px;
}

.column-left {
    max-width: 530px;
    flex: 0.8;
}

.column-right {
    max-width: 900px;
    flex: 1.2;
}

.column-right section {
    background-color: #fbf6f7;
    border-radius: 0px;
    border: 1px solid #eadde2;
    padding: 24px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.04);
    transition: transform 0.2s ease;
}